@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'NanumSquareNeo', sans-serif;
}

code {
    font-family: 'Roboto Mono', monospace !important;
}

.logo {
    font-family: 'Comfortaa', sans-serif;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 280ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ProseMirror:focus {
    outline: none;
}

.ck-editor__editable {
    height: 35rem;
    border-radius:  0 0 0.5rem 0.5rem !important;
    border-color: #cbd5e1 !important;
}

.ck-editor__editable:focus {
    box-shadow: none !important;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    box-shadow: none !important;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    position: absolute !important;
}

.ck.ck-button:active {
    box-shadow: none !important;
}

.ck.ck-sticky-panel__content {
    border-color: #cbd5e1 !important;
    border-radius: 0.5rem 0.5rem 0 0 !important;
}

.ck.ck-toolbar {
    border-radius: 0.5rem 0.5rem 0 0 !important;
}

.ck-placeholder::before {
    color: #94a3b8 !important;
}

blockquote p {
    color: black !important;
}

pre[class*="language-"] > code {
    position: relative;
    display: block;
}

pre:has(code[class='mermaid']) {
    background-color: white !important;
}

.ck-editor__main code {
    color: black !important;
    text-shadow: none !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}

.tiptap.ProseMirror{
    height: 100%;
}


.react-syntax-highlighter-line-number{
    color: rgb(171, 178, 191) !important;
    font-style: normal !important;
}