@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Noto Sans KR', sans-serif;
}

code {
    font-family: 'Roboto Mono', monospace !important;
}

.logo {
    font-family: 'Raleway', 'Noto Sans KR', sans-serif;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 280ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ProseMirror:focus {
    outline: none;
}

.ck-editor__editable {
    height: 35rem;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    position: absolute !important;
}

blockquote p {
    color: black !important;
}

pre:has(code[class='mermaid']) {
    background-color: white !important;
}
